:root {
  --max-desktop-width: 966px;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  
  /* ─────────────────────────────────── */

  --shadow-xs: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 0.625rem 0.9375rem -0.3125rem, rgba(0, 0, 0, 0.04) 0 0.4375rem 0.4375rem -0.3125rem;
  --shadow-md: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 1.25rem 1.5625rem -0.3125rem, rgba(0, 0, 0, 0.04) 0 0.625rem 0.625rem -0.3125rem;
  --shadow-lg: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 1.75rem 1.4375rem -0.4375rem, rgba(0, 0, 0, 0.04) 0 0.75rem 0.75rem -0.4375rem;
  --shadow-xl: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 2.25rem 1.75rem -0.4375rem, rgba(0, 0, 0, 0.04) 0 1.0625rem 1.0625rem -0.4375rem;

  /* ─────────────────────────────────── */

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;

  /* ─────────────────────────────────── */

  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;

  /* ─────────────────────────────────── */

  --break-point-xs: 36em;
  --break-point-sm: 48em;
  --break-point-md: 62em;
  --break-point-lg: 75em;
  --break-point-xl: 88em;

  /* ─────────────────────────────────── */

  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;

  --dark-0: #C1C2C5;
  --dark-0-rgb: 193, 194, 197;
  --dark-1: #A6A7AB;
  --dark-1-rgb: 166, 167, 171;
  --dark-2: #909296;
  --dark-2-rgb: 144, 146, 150;
  --dark-3: #5C5F66;
  --dark-3-rgb: 92, 95, 102;
  --dark-4: #373A40;
  --dark-4-rgb: 55, 58, 64;
  --dark-5: #2C2E33;
  --dark-5-rgb: 44, 46, 51;
  --dark-6: #25262B;
  --dark-6-rgb: 37, 38, 43;
  --dark-7: #1A1B1E;
  --dark-7-rgb: 26, 27, 30;
  --dark-8: #141517;
  --dark-8-rgb: 20, 21, 23;
  --dark-9: #101113;
  --dark-9-rgb: 16, 17, 19;

  --gray-0: #f8f9fa;
  --gray-0-rgb: 248, 249, 250;
  --gray-1: #f1f3f5;
  --gray-1-rgb: 241, 243, 245;
  --gray-2: #e9ecef;
  --gray-2-rgb: 233, 236, 239;
  --gray-3: #dee2e6;
  --gray-3-rgb: 222, 226, 230;
  --gray-4: #ced4da;
  --gray-4-rgb: 206, 212, 218;
  --gray-5: #adb5bd;
  --gray-5-rgb: 173, 181, 189;
  --gray-6: #868e96;
  --gray-6-rgb: 134, 142, 150;
  --gray-7: #495057;
  --gray-7-rgb: 73, 80, 87;
  --gray-8: #343a40;
  --gray-8-rgb: 52, 58, 64;
  --gray-9: #212529;
  --gray-9-rgb: 33, 37, 41;

  --red-0: #fff5f5;
  --red-1: #ffe3e3;
  --red-2: #ffc9c9;
  --red-3: #ffa8a8;
  --red-4: #ff8787;
  --red-5: #ff6b6b;
  --red-6: #fa5252;
  --red-7: #f03e3e;
  --red-8: #e03131;
  --red-9: #c92a2a;

  --pink-0: #fff0f6;
  --pink-0-rgb: 255, 240, 246;
  --pink-1: #ffdeeb;
  --pink-1-rgb: 255, 222, 235;
  --pink-2: #fcc2d7;
  --pink-2-rgb: 252, 194, 215;
  --pink-3: #faa2c1;
  --pink-3-rgb: 250, 162, 193;
  --pink-4: #f783ac;
  --pink-4-rgb: 247, 131, 172;
  --pink-5: #f06595;
  --pink-5-rgb: 240, 101, 149;
  --pink-6: #e64980;
  --pink-6-rgb: 230, 73, 128;
  --pink-7: #d6336c;
  --pink-7-rgb: 214, 51, 108;
  --pink-8: #c2255c;
  --pink-8-rgb: 194, 37, 92;
  --pink-9: #a61e4d;
  --pink-9-rgb: 166, 30, 77;

  --grape-0: #f8f0fc;
  --grape-1: #f3d9fa;
  --grape-2: #eebefa;
  --grape-3: #e599f7;
  --grape-4: #da77f2;
  --grape-5: #cc5de8;
  --grape-6: #be4bdb;
  --grape-7: #ae3ec9;
  --grape-8: #9c36b5;
  --grape-9: #862e9c;

  --violet-0: #f3f0ff;
  --violet-1: #e5dbff;
  --violet-2: #d0bfff;
  --violet-3: #b197fc;
  --violet-4: #9775fa;
  --violet-5: #845ef7;
  --violet-6: #7950f2;
  --violet-7: #7048e8;
  --violet-8: #6741d9;
  --violet-9: #5f3dc4;

  --indigo-0: #edf2ff;
  --indigo-1: #dbe4ff;
  --indigo-2: #bac8ff;
  --indigo-3: #91a7ff;
  --indigo-4: #748ffc;
  --indigo-5: #5c7cfa;
  --indigo-6: #4c6ef5;
  --indigo-7: #4263eb;
  --indigo-8: #3b5bdb;
  --indigo-9: #364fc7;

  --blue-0: #e7f5ff;
  --blue-1: #d0ebff;
  --blue-2: #a5d8ff;
  --blue-3: #74c0fc;
  --blue-4: #4dabf7;
  --blue-5: #339af0;
  --blue-6: #228be6;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1864ab;

  --cyan-0: #e3fafc;
  --cyan-1: #c5f6fa;
  --cyan-2: #99e9f2;
  --cyan-3: #66d9e8;
  --cyan-4: #3bc9db;
  --cyan-5: #22b8cf;
  --cyan-6: #15aabf;
  --cyan-7: #1098ad;
  --cyan-8: #0c8599;
  --cyan-9: #0b7285;

  --teal-0: #e6fcf5;
  --teal-1: #c3fae8;
  --teal-2: #96f2d7;
  --teal-3: #63e6be;
  --teal-4: #38d9a9;
  --teal-5: #20c997;
  --teal-6: #12b886;
  --teal-7: #0ca678;
  --teal-8: #099268;
  --teal-9: #087f5b;

  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;

  --lime-0: #f4fce3;
  --lime-1: #e9fac8;
  --lime-2: #d8f5a2;
  --lime-3: #c0eb75;
  --lime-4: #a9e34b;
  --lime-5: #94d82d;
  --lime-6: #82c91e;
  --lime-7: #74b816;
  --lime-8: #66a80f;
  --lime-9: #5c940d;

  --yellow-0: #fff9db;
  --yellow-1: #fff3bf;
  --yellow-2: #ffec99;
  --yellow-3: #ffe066;
  --yellow-4: #ffd43b;
  --yellow-5: #fcc419;
  --yellow-6: #fab005;
  --yellow-7: #f59f00;
  --yellow-8: #f08c00;
  --yellow-9: #e67700;

  --orange-0: #fff4e6;
  --orange-1: #ffe8cc;
  --orange-2: #ffd8a8;
  --orange-3: #ffc078;
  --orange-4: #ffa94d;
  --orange-5: #ff922b;
  --orange-6: #fd7e14;
  --orange-7: #f76707;
  --orange-8: #e8590c;
  --orange-9: #d9480f;
}

html[data-color-scheme=dark] {
  --color-scheme: dark;

  --text-0: var(--gray-0);
  --text-1: var(--gray-1);
  --text-2: var(--gray-2);
  --text-3: var(--gray-3);

  --highlight-0: var(--pink-3);
  --highlight-0-75: rgba(var(--pink-3-rgb), 0.75);
  --highlight-0-50: rgba(var(--pink-3-rgb), 0.5);
  --highlight-0-25: rgba(var(--pink-3-rgb), 0.25);
  --highlight-1: var(--pink-4);

  --background-0: var(--dark-9);
  --background-0: var(--dark-9);
  --background-0-90: rgba(var(--dark-9-rgb), .9);
  --background-0-75: rgba(var(--dark-9-rgb), .75);
  --background-0-50: rgba(var(--dark-9-rgb), .5);
  --background-0-25: rgba(var(--dark-9-rgb), .25);
  --background-1: var(--dark-8);
  --background-2: var(--dark-7);
  --background-3: var(--dark-6);
  --background-4: var(--dark-4);
}

html[data-color-scheme=light] {
  --color-scheme: light;

  --text-0: var(--dark-9);
  --text-1: var(--dark-8);
  --text-2: var(--dark-7);
  --text-3: var(--dark-6);

  --highlight-0: var(--pink-5);
  --highlight-0-75: rgba(var(--pink-5-rgb), 0.75);
  --highlight-0-50: rgba(var(--pink-5-rgb), 0.5);
  --highlight-0-25: rgba(var(--pink-5-rgb), 0.25);
  --highlight-1: var(--pink-4);

  --background-0: var(--gray-0);
  --background-0: var(--gray-0);
  --background-0-90: rgba(var(--gray-0-rgb), .9);
  --background-0-75: rgba(var(--gray-0-rgb), .75);
  --background-0-50: rgba(var(--gray-0-rgb), .5);
  --background-0-25: rgba(var(--gray-0-rgb), .25);
  --background-1: var(--gray-1);
  --background-2: var(--gray-2);
  --background-3: var(--gray-3);
  --background-4: var(--gray-4);
}