@layer component {
  ._btn {
    background: var(--background-1);
    color: var(--text-primary-0);
    padding: calc(var(--spacing-md) * 0.75) calc(var(--spacing-lg) * 1.25);
    font-weight: 600;
    font-size: var(--font-sm);
    border: none;
    border-radius: var(--radius-md);
    overflow: hidden;
    transition: transform .1s ease-in-out, background-color .1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    &:hover {
      transform: translate(0, -.05rem);
      background: var(--background-2);
    };
    &:active {
      transform: translate(0, -.1rem);
      background: var(--background-3);
    };
    &:disabled {
      opacity: 0.5;
      cursor: default;
      &:hover {
        transform: none;
        background: var(--background-1);
      };
      &:active {
        transform: none;
        background: var(--background-1);
      }
    }
  }
}