@layer customized { 
  ._btnSecondary {
    border: .1rem solid transparent;
    background: transparent;
    margin-left: var(--spacing-xs);
    &:hover, &::active {
      background: transparent;
    }
  }
  ._btnPrimary {
    background: var(--background-0);
    box-shadow: 0 0 1rem var(--highlight-0)00;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
      box-shadow: 0 0 1rem var(--highlight-0);
      transform: translate(0, -.05rem);
    }
  }
}
