@import '../../scss/styles.scss';

.mobileNav {
  @include while-desktop {
    display: none;
  }

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  opacity: 0;
  animation: animate-in forwards .15s ease-in-out;
  position: fixed;
  bottom: var(--spacing-md);
  left: var(--spacing-md);
  width: calc(100vw - var(--spacing-md) * 2);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
  .floatingActionsWrapper button, .floatingActionsWrapper a, .floatingAction {
    font-size: var(--font-xs);
    color: var(--text-0);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: var(--spacing-md) var(--spacing-xl);
    white-space: nowrap;
  }
  
  .floatingActionsWrapper, .floatingAction {
    height: 3rem;
    background: var(--background-0-50);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border: none;
  }
  
  .floatingActionsWrapper {
    border-radius: var(--radius-xl) 0 0 var(--radius-xl);
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    button, a {
      font-size: var(--font-xs);
      color: inherit;
      text-decoration: none;
      background: transparent;
      border: none;
      transition: background .3s ease-in-out;
      &:active {
        background: var(--highlight-0-50);
      }
      &[data-primary=true] {
        color: var(--highlight-0);
        background: var(--highlight-0-25);
      }
    }
  }

  .floatingAction {
    padding: var(--spacing-md);
    width: 3rem;
    transition: background .15s ease-in-out, border-radius .1s ease-in-out;
    &:active {
      background: var(--highlight-0-50);
    }
    &:only-child {
      border-radius: 50%;
    }
    border-radius: 0 50% 50% 0;
    
    margin-left: calc(var(--spacing-xs)/2);
  }
}

.dialog {
  @keyframes animate-dialog-in {
    from {
      opacity: 0;
      transform: translateY(calc(var(--spacing-md) * 2 + 100%));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-dialog-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(calc(var(--spacing-md) * 2 + 100%));
    }
  }

  margin: auto auto var(--spacing-md) auto;

  width: calc(100vw - var(--spacing-md) * 2);
  background: var(--background-0-75);
  border: var(--background-4) .1rem solid;
  border-radius: var(--radius-lg);
  
  position: fixed;
  inset: 0;
  transition: opacity 1s ease;
  
  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    button {
      flex-grow: 1;
      background: var(--background-4);
      color: var(--text-0);
      border: none;
      padding: var(--spacing-xs) var(--spacing-lg);
      font-size: var(--font-xs);
      transition: color .15s ease-in-out, background .15s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &:active {
        color: var(--highlight-0);
      }
      &[data-active=true] {
        background: var(--highlight-0);
        color: var(--background-0);
      }
    }
  }
  
  .contents {
    padding: var(--spacing-md) var(--spacing-xl);
  }

  &[data-closing=true]{
    pointer-events: none;
    opacity: 0;
    animation: animate-dialog-out forwards .15s ease;
    &::backdrop {
      opacity: 0;
      pointer-events: none;
    }
  }

  &[open]:not([data-closing=true]){
    animation: animate-dialog-in forwards .15s ease-in;
    &::backdrop { 
      opacity: 1;
    }
  }

  &::backdrop {
    transition: opacity 1s ease;
    opacity: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}