@import '../../scss/styles.scss';

@layer component {
  .mobileNav {
    @include while-desktop() {
      display: none;
    }
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 .5rem 0 var(--background-1);
    background: var(--background-1-75);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 var(--spacing-xs);
    border-top: .1rem solid var(--background-4); 
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

@layer customized {
  .navLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent;
    &:active, &:hover {
      background: transparent;
      transform: none;
    }
    padding: var(--spacing-xs);
    span {
      font-size: var(--font-xs);
      font-weight: 300;
      margin-top: calc(var(--spacing-xs) / 4);
    }
    svg {
      font-size: calc(var(--font-lg) * 1.25);
    }
    &[data-active=true] {
      color: var(--highlight-0);
    }
  }
}