@import '../scss/styles.scss';

@layer component {
  .main {
    @include while-desktop {
      max-width: var(--max-desktop-width);
      margin: 0 auto;
    }
  
    padding: var(--spacing-lg)
  }
}